<li class="menu">
    <a href="#components" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle collapsed">
        <div class="">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                 class="feather feather-box">
                <path d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"></path>
                <polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline>
                <line x1="12" y1="22.08" x2="12" y2="12"></line>
            </svg>
            <span>Components</span>
        </div>
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                 class="feather feather-chevron-right">
                <polyline points="9 18 15 12 9 6"></polyline>
            </svg>
        </div>
    </a>
    <ul class="submenu list-unstyled collapse" id="components" data-bs-parent="#accordionExample" style="">
        <li>
            <a href="./component-tabs.html"> Tabs </a>
        </li>
        <li>
            <a href="./component-accordion.html"> Accordions </a>
        </li>
        <li>
            <a href="./component-modal.html"> Modals </a>
        </li>
        <li>
            <a href="./component-cards.html"> Cards </a>
        </li>
        <li>
            <a href="./component-bootstrap-carousel.html">Carousel</a>
        </li>
        <li>
            <a href="./component-splide.html">Splide</a>
        </li>
        <li>
            <a href="./component-sweetalert.html"> Sweet Alerts </a>
        </li>
        <li>
            <a href="./component-timeline.html"> Timeline </a>
        </li>
        <li>
            <a href="./component-notifications.html"> Notifications </a>
        </li>
        <li>
            <a href="./component-media-object.html"> Media Object </a>
        </li>
        <li>
            <a href="./component-list-group.html"> List Group </a>
        </li>
        <li>
            <a href="./component-pricing-table.html"> Pricing Tables </a>
        </li>
        <li>
            <a href="./component-lightbox.html"> Lightbox </a>
        </li>
        <li>
            <a href="./component-drag-drop.html"> Drag and Drop </a>
        </li>
        <li>
            <a href="./component-fonticons.html"> Font Icons </a>
        </li>
        <li>
            <a href="./component-flags.html"> Flag Icons </a>
        </li>
    </ul>
</li>